################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dental_sys/FileContentIndex
/.vs/CopilotSnapshots
/.vs/CopilotSnapshots
/.vs/dental_sys/copilot-chat
/.vs/dental_sys/copilot-chat
/.vs/dental_sys/CopilotIndices/17.13.431.34963
.vs/dental_sys/CopilotIndices/17.13.431.34963/CodeChunks.db
/.vs/dental_sys/CopilotIndices
